/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue-color: 207;

  /* HSL color mode */
  --first-color: rgb(238,192,173);
  --title-color: hsl(var(--hue-color), 4%, 16%);
  --text-color: hsl(var(--hue-color), 4%, 28%);
  --text-color-light: hsl(var(--hue-color), 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
  --gradient-color: linear-gradient(180deg,
                      hsla(var(--hue-color), 48%, 72%, 0),
                      hsla(var(--hue-color), 65%, 65%, 1));


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --title-font: 'Lora', sans-serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color: hsl(var(--hue-color), 4%, 12%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 65%);
  --body-color: hsl(207, 4%, 10%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/
.nav__dark{
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme,
.change-theme-name{
  color: var(--text-color-light);
}

.change-theme{
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name{
  font-size: var(--small-font-size);
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  outline: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2.5rem;
  background-color: var(--body-color);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin-bottom: .25rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}


/*=============== HEADER ===============*/
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
}

.nav__logo{
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

.nav__toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu{
  position: relative;
}

@media screen and (max-width: 767px) {
    .nav__menu{
      position: fixed;
      background-color: var(--body-color);
      top: 0;
      right: -100%;
      width: 70%;
      height: 100%;
      box-shadow: -1px 0 4px hsl(var(--hue-color), 64%, 15%, .15);
      padding: 3rem;
      transition: .4s;
    }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link{
  color: var(--text-color-light);
  text-transform: uppercase;
}

.nav__link:hover{
  color: var(--text-color);
}

.nav__close{
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--title-color);
}

/* Active link */
.active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  content: '';
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -.75rem;
  left: 0;
}

/*=============== HOME ===============*/
.home{
  position: relative;
}

.home__container{
  row-gap: 4rem;
  padding-top: 2rem;
}

.home__data{
  row-gap: 1.5rem;
}

.home__title{
  text-align: center;
  font-size: var(--biggest-font-size);
  letter-spacing: .3px;
  margin-bottom: .5rem;
}

.home__blob{
  position: relative;
  border: 2px solid var(--text-color-light);
  width: 200px;
  height: 290px;
  border-radius: 6.25rem;
  justify-self: center;
  background-color: var(--body-color);
  place-items: center;
}

.home__perfill{
  width: 170px;
  height: 260px;
  border-radius: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home__perfill img{
  width: 200px;
}

.home__shape-wawes,
.home__shape-circle{
  position: absolute;
  opacity: .1;
}

.home__shape-wawes{
  width: 50px;
  left: -1.5rem;
  top: 5rem;
}

.home__shape-circle{
  width: 150px;
  bottom: -2rem;
  right: -3rem;
  transform: rotate(15deg);
  z-index: -1;
}

.home__social{
  justify-self: center;
  display: flex;
  column-gap: 1.25rem;
}

.home__social-link{
  font-size: 1.25rem;
  color: var(--text-color-light);
  transition: color .3s;
}

.home__social-link:hover{
  color: var(--text-color);
}

.home__info{
  display: grid;
  row-gap: 2rem;
}

.home__info-title{
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

.home__info-description,
.home__info-number{
  font-family: var(--title-font);
  color: var(--title-color);
}

.home__info-description{
  padding-right: 4rem;
}

.home__info-number{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}

/* SHAPES */
.home__shape-small,
.home__shape-big{
  position: absolute;
  border-radius: 50%;
  filter: blur(90px);
}

.home__shape-small{
  width: 150px;
  height: 150px;
  background-color: var(--first-color);
  top: -2.5rem;
  left: -1.5rem;
}

.home__shape-big{
  width: 250px;
  height: 250px;
  background-color: var(--first-color);
  top: 16rem;
  right: -6.5rem;
  opacity: .8;
}


/*=============== BUTTONS ===============*/
.button{
  border: none;
  background: none;
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  color: var(--title-color);
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button i {
  font-size: 1.2rem;
  transition: .3s;
}


/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2.5rem;
  justify-content: center;
}

.about__card{
  position: relative;
  width: 228px;
  height: 322px;
  background-color: var(--first-color);
  text-align: center;
  padding: 3.5rem 1rem;
  border-radius: 7.25rem;
}

.about__card i{
  display: block;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .75rem;
  transition: transform .8s;
}

.about__title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;
}

.about__border{
  width: 248px;
  height: 342px;
  border: 1.8px solid var(--text-color);
  border-radius: 7.75rem;
  position: absolute;
  inset: 0;
  left: -10px;
  margin: auto;
  transition: opacity .6s;
  opacity: 0;
}

.about__card:hover i{
  transform: rotateY(360deg);
}

.about__card:hover .about__border{
  opacity: 1;
}

.about__description{
  font-size: var(--small-font-size);
  line-height: 1.5;
}


/*==================== PROJECT ====================*/
.project__img{
  width: auto;
  height: 250px;
}

.project__edm__img{
  width: auto;
  height: 400px;
}

.project__content{
  display: grid;
  justify-content: center;
}

.project__web__img{
  width: auto;
  height: 220px;
  border-radius: .75rem;
  margin-bottom: 1.25rem;
}

.project__subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.project__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
  margin: .5rem 0 .8rem;
}

.project__button{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.project__button i{
  font-size: 1rem;
  transition: .3s;
}

.project__button:hover i{
  transform: translateX(.25rem);
}

/* Swiper class */
.swiper-slide {
  width: auto;
}

/*==================== CONTACT ====================*/
.contact{
  position: relative;
}

.contact__container{
  row-gap: 3rem;
}

.contact__title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.contact__title i{
  font-size: 1rem;
  font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form{
  display: grid;
}

.contact__info{
  row-gap: 2rem;
  margin-top: 1rem;
}

.contact__data{
  row-gap: .75rem;
}

.contact__data-title{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact__data-info{
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.contact__form{
  position: relative;
  row-gap: 2.5rem;
}

.contact__form-div{
  height: 4rem;
  display: flex;
  flex-direction: column;
}

.contact__form-input{
  width: 100%;
  height: 100%;
  color: var(--text-color);
  border-radius: 2rem;
  padding: 1rem;
  font-size: var(--normal-font-size);
  border: 2px solid var(--text-color-light);
  background-color: var(--body-color);
}

.contact__label{
  color: var(--title-color);
  padding: .35rem;
}

.contact__form-area{
  height: 10rem;
}

.contact__form-area textarea{
  resize: none;
}

.contact__button{
  font-size: var(--small-font-size);
}

.contact__button i{
  font-size: 1rem;
  transition: .3s;
}

.contact__button:hover i{
  transform: translateX(.25rem);
}

.contact__hint{
  position: absolute;
  bottom: 2.7rem;
  left: 1rem;
}

.submit__button i{
  transition: .3s;
}

.submit__button:hover i{
  transform: translateX(.25rem);
}

/* Status color */
.color-red{
  color: hsl(4, 71%, 50%);
}

.color-blue{
  color: hsl(207, 56%, 45%);
}

/*==================== FOOTER ====================*/
.footer__container{
  row-gap: 5rem;
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
  font-size: var(--small-font-size);
}

.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-weight: var(--font-medium);
}

.footer__link:hover{
  color: var(--first-color-lighten);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover{
  color: var(--first-color-lighten);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  margin-top: 3rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
  color: var(--text-color);
}

.footer__copy{
  color: var(--text-color-light);
}

.footer_bg{
  background-color: var(--body-color);
}


/*==================== ALL PORTFOLIO ====================*/
.portfolio__nav {
  text-align: center;
  margin-bottom: 1.5rem;
}
.active-portfolio {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
.portfolio__item {
  margin: 0 1rem;
  font-family: var(--title-font);
  cursor: pointer;
}

.portfolio__container{
  column-count: 3;
  column-gap: 12px;
}

.portfolio__card{
  margin-bottom: 8px;
  overflow: hidden;
}

.portfolio__button{
  display: inline-flex;
  justify-content: center;
  color: var(--title-color);
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 1.5rem;
  font-family: var(--title-font);
  font-size: 17px;
}

.portfolio__button i {
  font-size: 1rem;
  transition: .3s;
}

.portfolio__button:hover i {
  transform: translateX(0.25rem);
}


/*========== SCROLL UP ==========*/
.scrollup{
  position: fixed;
  bottom: -20%;
  right: 1rem;
  background-color: #000;
  padding: .5rem;
  display: flex;
  opacity: .9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup__icon{
  color: var(--white-color);
}

.scrollup:hover{
  transform: translateY(-0.25rem);
}

/* Show scroll */
.show-scroll{
  bottom: 5rem;
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}



/*=============== BREAKPOINTS ===============*/

/* For small devices */
@media screen and (max-width: 340px) {
  .project__img{
    height: 150px;
  }
  .project__edm__img{
    height: 300px;
  }
  .project__web__img{
    height: 150px;
  }
  .portfolio__item{
    margin: 0 .4rem;
  }
  .portfolio__container{
    column-count: 1;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .footer__container{
    grid-template-columns: repeat(2,1fr);
  }
  .footer{
    padding-top: 6.5rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__link {
    color: var(--text-color-light);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--text-color);
  }
  .nav__dark {
    position: initial;
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .change-theme-name {
    display: none;
  }
  .active-link::before {
    background-color: var(--white-color);
  }
  .scroll-header .nav__link {
    color: var(--text-color);
  }
  .scroll-header .active-link {
    color: var(--title-color);
  }
  .scroll-header .active-link::before {
    background-color: var(--title-color);
  }
  .scroll-header .change-theme {
    color: var(--text-color);
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .home__data{
    order: 2;
  }
  .home__info:nth-child(3){
    order: 3;
    text-align: right;
  }
  .home__info{
    padding-top: 10rem;
  }
  .home__info-description{
    padding-right: 0;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__title {
    margin-bottom: var(--mb-1);
  }
  .about__description {
    margin-bottom: var(--mb-2);
  }
  .about__container{
    grid-template-columns: repeat(2, max-content);
    column-gap: 5rem;
  }

  .contact__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 8rem;
  }
  .contact__form{
    width: 400px;
  }

  .footer{
    padding-top: 8.5rem;
  }
  .footer__container{
    display: flex;
  }
  .footer__links{
    flex-direction: row;
    margin-left: auto;
    column-gap: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__title{
    font-size: 2.25rem;
  }
  .home__shape-small,
  .home__shape-big{
    filter: blur(132px);
  }
  .home__shape-small{
    width: 300px;
    height: 300px;
    top: -5rem;
    left: -2rem;
  }
  .home__shape-big{
    width: 500px;
    height: 500px;
    top: 28rem;
    right: -15rem;
  }

  .about__img-one {
    width: 230px;
  }
  .about__img-two {
    width: 290px;
  }
  .about__container{
    grid-template-columns: repeat(3, max-content);
  }
  .about__card{
    width: 245px;
    height: 345px;
    border-radius: 7.6rem;
    padding: 3.5rem 1.5rem;
  }
  .about__card i{
    font-size: 2.5rem;
  }
  .about__border{
    width: 265px;
    height: 365px;
    border-radius: 8.25rem;
  }

  .contact__title{
    margin-bottom: 3rem;
  }
  .contact__title i{
    font-size: 1.25rem;
  }
  .contact__info {
    row-gap: 3rem;
  }
  .contact__data-info{
    font-size: var(--normal-font-size);
  }
  .contact__form{
    row-gap: 2.5rem;
  }

  .footer{
    padding-top: 10.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }

  .home__title{
    font-size: var(--biggest-font-size);
  }
  .home__blob{
    width: 400px;
    height: 580px;
    border-radius: 12.5rem;
  }
  .home__perfill{
    width: 340px;
    height: 520px;
    border-radius: 10.6rem;
  }
  .home__perfill img{
    width: 472px;
    height: 634px;
  }
  .home__shape-wawes{
    width: 100px;
    left: -4rem;
    top: 10rem;
  }
  .home__shape-circle{
    width: 250px;
    bottom: -1rem;
    right: -5rem;
  }
  .home__data{
    row-gap: 2.5rem;
  }
  .home__social{
    column-gap: 2rem;
  }
  .home__social-link{
    font-size: 1.5rem;
  }
  .home__info{
    grid-template-rows: repeat(3, 130px);
    row-gap: 4rem;
    margin-top: 13rem;
  }
}